@model MiniProjectFile.Models.CustomModel
<h2>Working File: @Model.ImportSource[0].Name (@Model.ImportSource[0].Id)</h2>
<div class="row">
    <div class="col-4">
        <h2>ImportColumns</h2>

        

        @for (int i = 0; i < Model.ColumnModel.Count(); i++)
        {
            int j = 0;
            <select name="Icolumn" class="Icolumn form-select">


                @foreach (var item in Model.ColumnModel)
                {
                   
                    if (i == j)
                    {
                        <option value="@item.Id" selected>@item.HeaderName</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.HeaderName</option>
                        

                    }
                    j++;
                }
            </select>
           
        }

       
        

    </div>
    <div class="col-4">
        <h2>TableColumn</h2>

            @for(int i=0;i<Model.ColumnModel.Count();i++){
            <select name="Tcolumn" class="Tcolumn form-select">
                <option value="" disabled selected>Select your option</option>
                @foreach (var item in Model.ListDropDowns)
                {
                 <option value="@item.Value">@item.Text</option>
                } 
            </select>
    
            }    


        @* @{
        List<string> listItems = new List<string>();
        @foreach (var item in Model)
        {
        listItems.Add(item);
        }
        }

        @Html.DropDownList("yourDropName", listItems, new { @class = "form-control" })*@
    </div>
</div>
<input id="btnSave" type="button"  class="btn btn-primary float-end" value="Map" />

<form asp-action="Save">
<input asp-for="@Model.ListDropDowns[0].Text" id="data" type="text" name="data"/>
    <input type="submit" value="Save" class="btn btn-primary me-2" />

</form>
<script src="~/js/Map.js"> </script>

